@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
	font-family: "Source Sans 3", sans-serif;
	background: linear-gradient(to left bottom, #d0d8d0, rgb(203, 214, 218));
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 1.5rem;
	line-height: 0.7;
	color: #58544f;
	margin: 0;
}


h2{
    font-size: 1.2rem;
    line-height: 0.7;
    color: #fff;
    margin: 0;
}

.container {
	width: 468px;
	margin-top: 30px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
	width: 456px;
	height: 456px;
	background: #bbada0;
	border: 7px solid #9c948c;
	border-radius: 6px;
	margin-top: 20px;
}

.grid div {
    width: 100px;
    height: 100px;
    background: #cdc1b4;
    border-radius: 7px;
    margin: 7px;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.5;
    color: #776e65;
	
}

.score-container {
	text-align: center;
	width: 70px;
	height: 70px;
	border-radius: 3px;
	background-color: #8f7a66;
	color: #fff;
}

#score {
	font-size: 1.2rem;
    
}

.score-title {
	font-size: 0.9rem;
    margin-top: 10px;
}
